-e .
aws_cdk.aws_codecommit==1.16.3
aws_cdk.aws_cloudfront==1.16.3
aws_cdk.aws_iam==1.16.3
aws_cdk.aws_s3==1.16.3
aws_cdk.aws_s3_deployment==1.16.3
aws_cdk.aws_ecr==1.16.3
aws_cdk.aws_ecs==1.16.3
aws_cdk.aws_ecs_patterns==1.16.3
aws_cdk.aws_codepipeline==1.16.3
aws_cdk.aws_codepipeline_actions==1.16.3
aws_cdk.aws_codebuild==1.16.3
aws_cdk.aws_dynamodb==1.16.3
aws-cdk.core==1.16.3
aws-cdk.custom-resources==1.16.3
aws-cdk.aws_apigateway==1.16.3
aws-cdk.aws_kinesisfirehose==1.16.3
python-dotenv
